# Directories to ignore
data/
results/
results-final/raw/
results_original/

# Ignore all R data files globally
*.rds
*.rda
*.RData
.RData*

# Ignore generated plots and reports
*.pdf

# RStudio and environment hidden files
.Rhistory
.Ruserdata
.Rproj.user/
.positai

# Scripts not needed
scripts/analysis_review.R

